.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
  
  &__nav {
    border: 1px solid #E5E5E4;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 100%;
    padding: 1em;
    border-radius: 3px;
    background-color: #fff
  }

  &__link {
    padding: 1em;
    border-right: 1px solid #E5E5E4;
  }
}
